{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% tailwind_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Climbing Community</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body class="bg-gray-900 text-gray-100" >
     
    {% include 'ascendify_app/navbar.html' %}
    
    {% if messages %}
    <div class="flex justify-center mt-4">
        <div class="space-y-2">
            {% for message in messages %}
                <div class="inline-block p-3 rounded text-sm max-w-xs text-center mx-auto 
                    {% if message.tags == 'error' %}bg-red-500 text-white{% elif message.tags == 'success' %}bg-green-500 text-white{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    
    <script>
        // Toggle Dropdowns
        document.querySelectorAll('.dropdown-toggle').forEach(button => {
            button.addEventListener('click', function () {
                // Get the associated dropdown menu
                let dropdown = this.nextElementSibling;
                
                // Toggle visibility for this dropdown
                dropdown.classList.toggle('hidden');
                
                // Close any other open dropdowns (optional)
                document.querySelectorAll('.dropdown-menu').forEach(menu => {
                    if (menu !== dropdown && !menu.classList.contains('hidden')) {
                        menu.classList.add('hidden');
                    }
                });
            });
        });

        // Close dropdowns when clicking outside
        document.addEventListener('click', function (event) {
            if (!event.target.closest('.relative')) {
                document.querySelectorAll('.dropdown-menu').forEach(menu => {
                    if (!menu.classList.contains('hidden')) {
                        menu.classList.add('hidden');
                    }
                });
            }
        });
    </script>
</body>
</html>
